database_data
__pycache__
staticfiles

# IDEs
.env
.project
.pydevproject
.idea
.vscode
.settings
.DS_Store
out.xml
myenv

# Random files
*~
\#*

virtualenv/
venv/
htmlcov/
src/static_root/
src/static_dist/
.mypy_cache
.pytest_cache
test_cov_report/

# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite
db.sqlite3

# Node modules
node_modules/
yarn.lock
npm-debug.log
package-lock.json

# Coverage 
coverage/
.coverage
.cache

# static validation files
.eslintrc
.sass-lint.yml
.prospector.yml
.coveragerc

# celery
celerybeat-schedule
celerybeat.pid

# not include scripts because they come from external module
scripts/
media/

# bank statement scrapper
statement_*
